// src/app/page.module.scss

.main {
  min-height: 100vh;
}

.content {
  transition: opacity 0.5s ease-in-out;
  
  &.loading {
    opacity: 0;
  }
  
  &.loaded {
    opacity: 1;
  }
}
.hero{
    display: flex;
}
.section {
margin-top: 100px;
}
// .homepage{
//     margin: 0 3rem;
// }