.footer {
  background: linear-gradient(135deg, #073020, #0D4A2D);
  color: #f5f5f5;
  padding: 1.5rem  1.5rem;
  font-size: 0.95rem;

  .topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .brand {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-weight: 400;
    color: #dcdcdc;

.logoImg {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

    strong {
      color: #ffffff;
      font-weight: 600;
    }
  }

  .links {
    display: flex;
    gap: 1.5rem;

    a {
      color: #dcdcdc;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: #baff81;
      }
    }
  }

  .socials {
    display: flex;
    gap: 1.2rem;

    a {
      color: #f5f5f5;
      transition: color 0.3s ease;

      &:hover {
        color: #baff81;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .divider {
    margin: 2rem 0 1.5rem;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .bottomRow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
}

@media (max-width: 768px) {
  .footer {
    text-align: center;

    .topRow {
      flex-direction: column;
      align-items: center;
    }

    .links,
    .socials {
      justify-content: center;
    }
  }
}
